# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage
coverage/

# Build
build/
dist/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db